{
  "application": {
    "port": 5959
  },
  "helmet": {
    "hidePoweredBy": {
      "setTo": "turkey leftovers"
    }
  },
  "log": {
    "configFile": {
      "appenders": [
        {
          "type": "console",
          "layout": {
            "type": "human",
            "color": true
          }
        }
      ],
      "levels": {
        "[all]": "DEBUG"
      }
    },
    "configOption": {}
  }
}
